#education {
    background-color: #3c8b92;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 35px;
    color: white;
}
#education h2 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}