@import url('https://fonts.googleapis.com/css?family=Gamja+Flower');
@import url('https://fonts.googleapis.com/css?family=Anton');
:root {
    font-family: 'Gamja Flower', cursive;
    font-size: 28px;
}
html{
  background-color: #f5f4ff;  
}
body {
    max-width: 980px;
    margin: 0 auto;
}
header {
    background-image: url(..imgs/laptop.jpg);
    background-size: cover;
    background-position: center;
    display: block;
}
#menu {
    background-color: #3c8b92;
    width: 100%;
    font-family: 'Anton', sans-serif;
    font-size: 23px;
    color: white;

}
#menu a {
    text-decoration:none;
    height: 10px;
    width: auto;
    color: white;
    padding: 2px 2px;
    padding: 8px;
}
#menu a:hover {
    color: #3c8b92;
    background-color:white; 
}
#main_background {
    width: 100%;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
}
#Ruslan {
     font-size: 3em;
    margin-top: -228px;
    color: white;
    margin-bottom: 108px;
    margin-right: 750px;
}
#Overko {
    font-size: 3em;
    margin-top: -130px;
    color: white;
    margin-right: 750px;
}
#contacts {
    padding: 3px 3px;
    margin-top: -145px;
    margin-left: 550px;
}
header #contacts a {
    text-decoration:none;
    color: white;
}
main {
    margin-top: -35px;
}
h1,h2{
    font-family: 'Anton', sans-serif;
      text-align:center;	
}

