@import url('https://fonts.googleapis.com/css?family=Gamja+Flower');

:root{
    font-family: 'Gamja Flower', cursive;
}
body{
    margin-left: 0;
    margin-top: 0;
    margin-right: 0; 
}
#menu{
    background-color:#2F2924;
    font-size:1.5em;
    color: white;
}
#main_background{
    width: 100%;
    margin-bottom: -170px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
a {
    color: white;
}
h1{
    font-size: 5em;
    color: white;

}
